header
    nav
        ul#menu
            li 
                a(href="/aboutme") About Me 
            li 
                a(href="/contactme") Contact Me 
            li 
                a(href="https://github.com/rdelva") Github



            