doctype html
html(lang="en")

h1 About Me 

p Hello! My name is Rose and I like to solve problems.

p Especially when it involves the person between the keyboard/tablet and the chair. Trying to understand someone’s mindset when they interacting technology is a concept some developers or designers often overlook.

p Graduated with a Bachelors in Computer Science. I ventured out into the world acquiring many skills and life-lessons underneath my belt.

p With years of experience (customer service, tech support, web development along with QA (quality assurance). I'm able to communicate with developers and designers as well as taking the time to understand the user experience when it comes accessing, using and creating content.

h2 Languages/Skills

ul
li HTML
li CSS
li SASS
li Responsive Web Design
li SQL
li JavaScript
li jQuery
li Express
li Node.js
li  Photoshop
li Illustrator
li Adobe Captivate
li Adobe XD
li Balsamiq
li Git
li Visual Studio Code
li UAT/QA
li Jira

p For more info about me, please visit my LinkedIn or view my Github