doctype html
html(lang="en" )
    head
        title Rose Delva - FullStack Developer
    body
    header
        nav
            ul#menu
                li About Me 
                li Contact Me 
                li Github

    main
        h1#name Rose Delva
        h2#job-title Fullstack Developer
    footer
        p &copy; 2024 Rose Delva


