doctype html
html(lang="en" )
    head
        title Rose Delva - FullStack Developer
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include includes/header.pug
        block content     
        include includes/footer.pug